{% extends 'Home/base.html' %}
{% load static %}

{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Delete Department</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'department_list' %}">Departments</a></li>
                        <li class="breadcrumb-item active">Delete Department</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="alert alert-danger">
                            <h5>Are you sure you want to delete this department?</h5>
                            <p><strong>{{ department.name }}</strong></p>
                            {% if department.teachers.exists %}
                            <p class="text-warning">Warning: This department has {{ department.teachers.count }} teacher(s) assigned. They will be unassigned.</p>
                            {% endif %}
                            {% if department.subjects.exists %}
                            <p class="text-warning">Warning: This department has {{ department.subjects.count }} subject(s) assigned. They will be affected.</p>
                            {% endif %}
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Yes, Delete</button>
                            <a href="{% url 'department_list' %}" class="btn btn-secondary">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}