# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
monenv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Database
*.sqlite3
*.db