{% extends 'Home/base.html' %}
{% load static %}

{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Delete Subject</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'subject_list' %}">Subjects</a></li>
                        <li class="breadcrumb-item active">Delete Subject</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="alert alert-danger">
                            <h5>Are you sure you want to delete this subject?</h5>
                            <p><strong>{{ subject.name }}</strong> ({{ subject.code }})</p>
                            <p>Department: {{ subject.department.name }}</p>
                            {% if subject.teacher %}
                            <p>Teacher: {{ subject.teacher.first_name }} {{ subject.teacher.last_name }}</p>
                            {% endif %}
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Yes, Delete</button>
                            <a href="{% url 'subject_list' %}" class="btn btn-secondary">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}